extends layout

block content

  if greeting.translation == null
      h1.heroHelloWorld Translating...
  else
      h1.heroHelloWorld= greeting.translation
  p.text-center That's #{greeting.language} for 'Hello, World' in the #{font.name} font
  hr

  .row
    .col-md-3
      .panel.panel-default
        .panel-body.mypanel
          .mypanel-clock
        .panel-footer.text-center
          | Server Time

    .col-md-3
      .panel.panel-default
        .panel-body.mypanel
          .mypanel-date
        .panel-footer.text-center
          | Server Date

    .col-md-3
      .panel.panel-default
        .panel-body.mypanel
          .mypanel-weather
        .panel-footer.text-center
          | Weather

    .col-md-3
      .panel.panel-default
        .panel-body.mypanel
          .mypanel-kitty
            img.fixed-ratio-resize(src='http://loremflickr.com/230/170/cat')
        .panel-footer.text-center
          | Kitty!

  .row
    .col-md-12
      .well
        b Chuck Norris Fact Of The Day:
        | 
        =chuck

  .row
    each user in users
      .col-md-2
        .panel.panel-default
          .panel-body
            p= user.name
          .panel-footer.text-center
            if user.id != authuser.id
              span(data-userid=user.id)= user.status
            else
              .dropdown
                button.btn.btn-link(type='button',data-toggle='dropdown')
                  span#myStatus= user.status
                  | 
                  span.caret
                ul.dropdown-menu
                  li.set-status: a In
                  li.set-status: a Out
                  li.set-status: a Busy
          

    script.
      $(document).ready(function() {
        startSocket();
        initSetStatus(#{authuser.id});
        getWeather();
      })